<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/home.png}"/>
<form method="POST" th:action="@{/register}" th:object="${roleDTO}" id="registerForm">
    <label for="name"> Name: </label>
    <input type="text" name="name"/><br/>
    <label for="email"> Email: </label>
    <input type="text" name="email"/><br/>
    <label for="password">  Password: </label>
    <input type="password" name="password"/><br/>
    <label for="confirm"> Confirm password: </label>
    <input type="password" name="confirm"/><br/>
    <div class="grid">
        <div class="rolse">
            <h3>Choose your role:</h3>
            <div th:each="role : ${roles}">
                <input th:field="*{roleList}" type="checkbox"
                       th:value="${role.name}">
                <span th:text="${role.name}">ROLE</span><br/>
            </div>
        </div>
    </div>
    <input type="submit" value="Registration"/>
</form>
</body>
</html>